@font-face {
    font-family: "nombre";
    src: url(../recursos/fonts/Syne-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fondo {
    background-color: black;
}

/* HEADER */
header {
    background-image: url(../recursos/img/espalda.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 50vW;
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
}

header h1 {
    font-family: "nombre";
    font-style: oblique;
    font-size: 80px;
    text-align: center;
    padding-top: 85px;
    color: white;

}

header nav ul {
    padding-top: 20px;
    margin-right: 30px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
}

header nav ul li {
    margin: 5px;
    width: 100px;
    height: 40px;
    border: solid white 2px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

/* MAIN */
h2 {
    font-family: "nombre";
    font-style: oblique;
    color: white;
}

h3 {
    font-family: "nombre";
    font-style: oblique;
    color: white;
}

h6 {
    font-family: "nombre";
    font-style: oblique;
    font-weight: 100;
    color: white;
    font-size: 0.9em;
    text-align: center;
}

main {
    width: 100%;
}

.z_index {
    z-index: 1;
}

section p {
    padding-top: 20px;
    color: white;
    text-align: justify;
}

.img-main {
    width: 100%;
}

.span {
    text-decoration: underline;
    text-transform: uppercase;
    color: chartreuse;
}

.iframe {
    width: 90%;
    margin: auto;
    height: 120px;
}

.embarazada {
    width: 100%;
}

aside p {
    color: red;
    text-align: center;
}

.motivacion {
    color: rgb(168, 244, 17);
    text-transform: uppercase;
}

.motivacion span {
    font-size: xx-large;
}

.form {
    margin-top: 20px;
}

form {
    position: relative;
    top: 0;
    left: 20%;
    border: solid white 2px;
    background-color: black;
    width: 60%;
    text-align: center;
    color: white;
}

.fondoForm {
    background-color: black;
    color: white;
    border: solid white 1px;
}

form div {
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    margin: 20px;
}

.item {
    margin-left: 20px;
    margin-top: 15px;
}

.video {
    margin-left: 20%;
    margin-top: 1dvb;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: auto;
    padding-top: 40px;
}

.derechos {
    text-align: center;
    font-weight: 600;
    color: white;
    padding-top: 30px;
}

.tituloFooter {

    text-align: center;
    font-size: x-large;
}

/* .serviciosFooter {
    color: white;
} */

.servicios {
    font-size: x-small;
    font-weight: 300;
    text-align: center;
    color: white;
}

.img {
    height: 75px;
}

@media(max-width: 990px) {
    header {
        background-size: 80vw;
        background-position: top;
        height: 190px;
    }

    header h1 {
        font-size: 2.3em;
        padding-top: 20px;
    }

    header nav ul {

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    header nav ul li {
        margin: 2px;
        width: 75px;
        height: auto;
        border-radius: 5px;
    }

    h2 {
        font-size: medium;
    }

    h3{
        font-size: medium;
    }

    aside {
        display: none;
    }
}