@import './assets/typography';
@import './assets/reset';


@import './sections/body';
@import './sections/header';
@import './sections/nav';
@import './sections/main';
@import './sections/indexAside';
@import './sections/productos';
@import './sections/contacto';
@import './sections/footer';
@import './sections/medias';
