/* FORMULARIO CONTACTO */
section.form {
    margin-top: 20px;

    form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-left: 20%;
        border: solid white 2px;
        background-color: black;
        width: 60%;
        text-align: center;
        color: white;
        
        div {
            margin: 20px 0;

            .fondoForm {
                background-color: black;
                color: white;
                border: solid white 1px;
            }

            label.fondoForm{
                border: none;
            }
            
        }
        div.sexo {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}

@media(max-width: 550px) {
    section.form {
        form {
            border: none;
        }
    }    
}



