/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: auto;
    padding-top: 40px;

    h2.tituloFooter {
        text-align: center;
        font-size: x-large;
    }

    div.servicios {
        font-size: x-small;
        font-weight: 300;
        text-align: center;
        color: white;

        img.img {
            height: 75px;
        }
    }

    p.derechos {
        text-align: center;
        font-weight: 600;
        color: white;
        padding-top: 30px;
    }
}



